.header{
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(0,75,75,0.85);
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 400;
    /* text-align: center; */
    /* forwards freezes the animation at last keyframe */
    animation: dropHeader 0.5s ease-out forwards;
}
@keyframes dropHeader {
    from{
        transform: translateY(-60px);
    }
    to{
        transform: translateY(0px);
    }
}

.header-col1{
    display: inline-flex;
    margin-left: 15px;
    align-items: center;
    animation: moveHeadingRight 2.5s -0.5s ease-in-out forwards;
}
@keyframes moveHeadingRight {
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}
.header-col2{
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 15px;
    align-items: center;
}
.headerArraryWrapper{
    display: flex;
    font-size: x-large;
    font-weight: 800;
    color: rgb(0,0,0,0.85);
    justify-content: flex-end;
    opacity: 0;
    animation: increaseOpacity 2.5s 1s forwards;
}
@keyframes increaseOpacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.h-block{
    border-radius: 5px;
    width: 35px;
    height: 35px;
    margin: 1px;
    background-color: ghostwhite;
    text-align: center;
}
#h0,#h2 {
    animation: moveR 1s 1.75s forwards;
}
@keyframes moveR{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(36px);
    }
}
#h1,#h3 {
    animation: moveL 1s 1.75s forwards;
}
@keyframes moveL{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-38px);
    }
}