div{
    font-family: 'Yusei Magic', sans-serif;
}
.page-body{
    opacity: 0;
    animation: mainAimation 1.5s 1.75s forwards;
}
@keyframes mainAimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.array-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
}
.array{
    display: grid;
    margin: auto;
    border: 2px solid black;
    border-radius: 18px;
    background-color: whitesmoke;
}
.row1,.row2{
    height: 60px;
    text-align: center;
    font-size: x-large;
    font-weight: 400;
}
.index-wrapper, .wrapper{
    display: flex;
    font-size: xx-large;
    font-weight: 800;
}
.wrapper{
    border: 3px solid black;
    border-radius: 15px;
}
.index-block, .default,.current-key{
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 10px;
}
.index-block{
    background-color: rgb(219, 215, 215);
}
.default{
    background-color: rgb(255, 255, 255);
    transition: background-color 500ms;
}
.current-key{
    background-color: rgb(29, 223, 94);
    /* color: rgb(29, 223, 94); */
    transition: background-color 500ms, color 500ms;
}
.sorted-element, .key{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: rgb(10, 221, 80);
    color: black;
    transition: background-color 500ms, color 500ms;
}
.option-bar, .additional{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
    text-align: center;
    background-color: whitesmoke;   
}
.additional{
    justify-items: center;
}
.option-bar-row{
    padding-top: 5px;
}
.size{
    font-size: x-large;
    font-weight: 700;
}
#sort-menu{
    width: 250px;
    height: 40px;
}
.sort-btn{
    width: 125px;
    height: 42px;
}
.cards{
    display: inline-grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
.extra{
    text-align: center;
    margin: auto;
    font-size: xx-large;
    font-weight: 800;
}


/* Aimation Classes */

/* Animation Classes for Bubble Sort */
.move-right-bubble{
    background-color: rgb(202, 43, 43);
    animation: tl 500ms;            
}
@keyframes tl {
    0% {
        transform: translateX(52px);
    }
    50% {
        transform: translateX(0px);
    }
}
.move-left-bubble{
    background-color: rgb(202, 43, 43);
    animation: tr 500ms;            
}
@keyframes tr {
    0% {
        transform: translateX(-52px);
    }
    50% {
        transform: translateX(0px);
    }
}
@keyframes moveKeyDown{
    0%{
        transform: translate(0px,0px);    
    }
    50%{
        transform: translate(0px,50px); 
    }
    100%{
        transform: translate(0px,0px);
    }
}

/* Animation Classes for Insertion Sort */
.move-right{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: rgb(202, 43, 43);
    animation: mr 500ms ;   
}
@keyframes mr{
    0%{
        transform: translate(0px,0px);
        background-color: rgb(202, 43, 43);    
    }
    50%{
        transform: translate(52px,0px);
        background-color: rgb(29, 223, 94);

    }
}
.move-left{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: rgb(202, 43, 43);
    animation: ml 500ms ;   
}
@keyframes ml{
    0%{
        transform: translate(0px,0px);
        background-color: rgb(202, 43, 43);    
    }
    50%{
        transform: translate(-52px,0px);
        background-color: rgb(29, 223, 94);

    }
}