div{
    font-family: 'Yusei Magic', sans-serif;
}
main{
    height: 110vh;
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}
hr{
    width: 75vw;
}
.page-body{
    opacity: 0;
    
    animation: mainAimation 1s 1.75s forwards;
}
@keyframes mainAimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.array-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
}
.array{
    padding: 5px;
    display: grid;
    margin: auto;
    border-radius: 18px;
    border: none;
    background-color: rgb(0, 75, 75,0.85);
}
.row1,.row2{
    height: 60px;
    text-align: center;
    font-size: x-large;
    font-weight: 400;
}
.index-wrapper, .wrapper{
    display: flex;
    font-size: xx-large;
    font-weight: 800;
}
.wrapper{
    border: none;
    border-radius: 15px;
}
.index-block, .default,.current-key{
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 10px;
    color: rgb(0, 0, 0,0.85);
}

.default:hover,.index-block:hover{
    width: 55px;
    height: 55px;
    font-size: 38px;
    box-shadow: 0px 0px 3px;
    border: none;
    transition: width 200ms, height 200ms, font-size 200ms;
}
.index-block{
    background-color: rgb(219, 215, 215);
}
.default{
    background-color: rgb(255, 255, 255);
    transition: background-color 500ms;
}
.current-key{
    background-color: rgb(29, 223, 94);
    transition: background-color 500ms, color 500ms;
}
.sorted-element, .key{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: rgb(10, 221, 80);
    color: rgb(0, 0, 0,0.85);
    transition: background-color 500ms, color 500ms;
}
.option-bar, .additional{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
    text-align: center; 
}
.additional{
    margin-top: 50px;
    justify-items: center;
}
.option-bar-row{
    padding-top: 5px;
}
.size{
    font-size: x-large;
    font-weight: 700;
}
#sort-menu{
    width: 250px;
    height: 40px;
    border-radius: 7px;
    border: none;
}

#sort-menu:hover{
    box-shadow: 0px 0px 3px;

}
.myButton{
    width: 30px;
    height: 30px;
    background: rgb(0, 75, 75,0.85);
    color: snow;
    border: none;
    border-radius: 7px;
    font-size: 18px;
}
.myButton:hover{
    background: snow;
    color: rgb(0, 75, 75,0.85);
    box-shadow: 0px 0px 3px;
}
.myButton:disabled{
    opacity: 0.5;
}
.sort-btn{
    margin-top: 5px;
    width: 110px;
    height: 40px;
    background: rgb(0, 75, 75,0.85);
    color: snow;
    border: none;
    border-radius: 7px;
}

.extra{
    text-align: center;
    margin: auto;
    font-size: xx-large;
    font-weight: 800;
}


/* Aimation Classes */

/* Animation Classes for Bubble Sort */
.move-right-bubble{
    background-color: rgb(202, 43, 43);
    animation: tl 500ms;            
}
@keyframes tl {
    0% {
        transform: translateX(52px);
    }
    50% {
        transform: translateX(0px);
    }
}
.move-left-bubble{
    background-color: rgb(202, 43, 43);
    animation: tr 500ms;            
}
@keyframes tr {
    0% {
        transform: translateX(-52px);
    }
    50% {
        transform: translateX(0px);
    }
}
@keyframes moveKeyDown{
    0%{
        transform: translate(0px,0px);    
    }
    50%{
        transform: translate(0px,50px); 
    }
    100%{
        transform: translate(0px,0px);
    }
}

/* Animation Classes for Insertion Sort */
.move-right{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: rgb(202, 43, 43);
    animation: mr 500ms ;   
}
@keyframes mr{
    0%{
        transform: translate(0px,0px);
        background-color: rgb(202, 43, 43);    
    }
    50%{
        transform: translate(52px,0px);
        background-color: rgb(29, 223, 94);

    }
}
.move-left{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: rgb(202, 43, 43);
    animation: ml 500ms ;   
}
@keyframes ml{
    0%{
        transform: translate(0px,0px);
        background-color: rgb(202, 43, 43);    
    }
    50%{
        transform: translate(-52px,0px);
        background-color: rgb(29, 223, 94);

    }
}

.footer{
    margin-right: 15px;
    text-align: end;
    font-family: 'Raleway', sans-serif;
    color: rgb(4, 39, 21);
    font-weight: 600;
}

.removing{
    animation: remove 100ms;
}
@keyframes remove{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.adding{
    animation: add 100ms;
}
@keyframes add{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}